<div>
  <h2>{{ titulo }}</h2>
</div>

<div class="card p-shadow-6">
  <div style="padding: 1%;">
    <form [formGroup]="formModel" class="p-grid p-fluid">
      <div class="p-field p-grid p-md-12">
        <div class="p-col-12 p-md-12">
          <label class="p-mb-2 p-md-2">Nome<span class="p-required">*</span></label>
          <input formControlName="nome" type="text" placeholder="Nome" [required]="true" pInputText>
        </div>
        <div class="p-col-12 p-md-6">
          <label class="p-md-2">CPF<span class="p-required">*</span></label>
          <p-inputMask mask="999.999.999-99" placeholder="CPF" formControlName="cpf" [required]="true"></p-inputMask>
        </div>
        <div class="p-col-12 p-md-6">
          <label class="p-md-2">Sexo<span class="p-required">*</span></label>
          <p-dropdown formControlName="sexo" [options]="sexoOptions" placeholder="Selecione o Sexo" [required]="true"></p-dropdown>
        </div>
        <div class="p-col-12 p-md-12">
          <label class="p-mb-2 p-md-2">Data de Nascimento<span class="p-required" >*</span></label>
          <p-calendar formControlName="dataNascimento" [showIcon]="true" [maxDate]="maxDate" [touchUI]="true" [readonlyInput]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
        </div>
        <div class="p-col-12">
          <label class="p-mb-2 p-md-2">Nome da Mãe</label>
          <input formControlName="mae" type="text" placeholder="Nome da Mãe" pInputText>
        </div>
        <div class="p-col-12">
          <label class="p-mb-2 p-md-2">Nome do Pai</label>
          <input formControlName="pai" type="text" placeholder="Nome do Pai" pInputText>
        </div>
      </div>
    </form>
    <div class="p-grid p-justify-end p-md-12">
      <button (click)="salvar()" pButton type="button" label="Salvar" class="p-button-success"></button>
      <button type="button" pButton label="Cancelar" routerLink="/" class="p-button-danger"></button>
    </div>
  </div>
</div>